header, main, nav, footer, figure, figcaption, aside, section, article {
	display: block
}

body {
	font-size: 500%;
	font-weight: bold;
	background-color: black;
	
	color:#123456;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #4F6D93;
	background-image: linear-gradient(to bottom, #ffffff, #4F6D93);
	background-repeat: no-repeat;
	
/* added this comment */
}

header {
	background-color:#000033;
	color:#FFFFFF;
	background-image: url(sunset.jpg);
	background-repeat: no-repeat;
	background-position: right;
	height: 60px;
	text-align: center;
	padding-top: 15px;
	
}

footer {
	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	padding: 20px;
	margin-left: 190px;
	background-color: white;
	
	clear: both;
	
	}

main {
	
	padding: 1px 20px 20px 30px;
	display: block;
	
	background-color: white;
	margin-left: 190px;
	;
	
	
}

table {
	border: 1px solid #3399cc;
	width: 80%;
	border-spacing: 0;
}

td, th {
	padding: 5px;
	border: 1px solid #3399cc;
	
}

td {
	text-align: center;
}

tr:nth-of-type(odd) {
	background-color: #BDDFF0;
}

nav {
	font-weight: bold;
	padding: 20px;
	float: left;
	width: 160px;
	
	
}
nav a {
	text-decoration: none;
	transition: color 2s ease-out;
}

nav a:link {
	color: #000033;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	
	color: #FFFFFF;
}

nav ul {
	list-style: none;
	margin: 0px;
	padding-left: 0px;
	font-size: 1.2em;
}

h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: Georgia, "Times New Roman", serif;
}

h2 {
	color:#3399cc;
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px #cccccc;
}

h3 {
	font-family: Georgia, "Times New Roman", serif;
	color: black;
}

main ul {

	list-style-image: url(marker.gif);
}

dt {
	color:#000033;
}

label {
	text-align: right;
	float: left;
	display: block;
	width: 120px;
	padding-right: 5px;
}

input, textarea {
	display: block;
	margin-bottom: 20px;
	
}

input[type="submit"] {
	margin-left: 130px;
}

video, embed {
	float: right;
	padding-left: 20px;
}

.text {
	text-align: left;
}

.resort {
	color:#5c7fa3;
	font-weight: bold;
}

#contact {
	font-size: 90%;
}

#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #90c7e3;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px #333333;
}

#homeHero {
	height: 300px;
	background-image: url("coasthero.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#yurtHero {
	
	height: 300px;
	background-image: url("yurthero.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
}

#trailHero {
	
	height: 300px;
	background-image: url("trailhero.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: 190px;
	}

#mobile {
	display: none;
}

#desktop {
	display: inline;
}

#gallery {
	position: relative;
	height: 200px;
	text-align: left;
	color: black;
}
#gallery ul {
	list-style-type: none;
	width: 300px;
}
#gallery li { 
	display: inline;
	float: left;
	padding: 10px;
}
#gallery img { 
	border-style: none;
	}
#gallery a { 
	text-decoration: none;
	font-style: italic;
	color: black;
}
#gallery span {
	position: absolute;
	left: -1000px;
	opacity: 0;
	transition:  opacity 3s ease-in-out;
	
}
#gallery a:hover span {
	position: absolute;
	top: 16px;
	left: 320px;
	text-align: center;
	opacity: 1;
	margin: 0px;
}
figure {
	position: absolute;
	left: 280px;
	text-align: center;
	opacity: 25%;
}



/* TABLET media query */
@media only screen and (max-width:64em) {
	
	body {
		margin: 0;
		background-color: #FFFFFF;
	}
	
	main {
		margin: 0;
	}
	
	nav {
		float: none;
		width: auto;
		text-align: center;
		padding: 0.5em;
	}
	
	nav li {
		display: inline;
		padding: .25em .75em .25em .75em;
	}
	
	footer {
		margin-left: 0;
		
	}
	
	#wrapper {
		min-width: 0;
		width: auto;
		box-shadow: none;
	}
	
	#homeHero {
		margin-left: 0;
		height: 200px;
	}
	
	#yurtHero {
		margin-left: 0;
		height: 200px;
	}
	
	#trailHero {
		margin-left: 0;
		height: 200px;
	}
	
}


/* MOBILE media query */
@media only screen and (max-width:37.5em) {
	
	header {
		padding-top: 1em;
	}
	
	main {
		padding: 0.1em 1em 0.1em 1em;
		font-size: 90%;
	}
	
	h1 {
		font-size: 1.5em;
	}
	
	nav { 
		padding: 0px;
	}
	
	nav li {
		display: block;
		margin: 0px;
		border-bottom: 2px solid #330000;
	}
	
	nav a {
		display: block;
	}
	
	label {
		float: none;
		text-align: left;
	}
	
	input[type="submit"] {
		margin-left: 0;
	}
	
	#homeHero {
		background-image: none;
		height: 0px;
	}
	
	#yurtHero {
		background-image: none;
		height: 0px;
	}
	
	#trailHero {
		background-image: none;
		height: 0px;
	}
	
	#mobile {
		display: inline;
	}
	
	#desktop {
		display: none;
	}
	#gallery {
		
		display: none;
	}
	
}




